<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-xs-10">
                    <h3 class="panel-title">
                        <i class="fa fa-info" aria-hidden="true" tooltip-html-unsafe="Password Verification" tooltip-placement="bottom"></i>
                        &nbsp;Password Verification
                    </h3>
                </div>
                <div class="col-lg-2 col-md-2 col-xs-2" style="text-align: right;" tooltip-html-unsafe="Close" tooltip-placement="bottom">
                    <i class="fa fa-times" aria-hidden="true" ng-click="closePopUp()"></i>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-signin" id="login" name="userLoginForm" role="form">
                <div class="form-group ">
                    <md-input-container class="md-block">
                        <label style="color:black">User ID</label>
                        <md-icon class="md-dark" arial-label="user" style="color:darkorange"><i class="fa fa-user" style="font-size: 20px;"></i></md-icon>
                        <input required readonly name="userid" ng-model="user.userid" minlength="4" maxlength="20">
                        <div ng-messages="userLoginForm.userid.$error" role="alert" class="ng-messages">
                            <div ng-message="required">* User Name is required.</div>
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Valid Range: 4 to 20 characters.
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div class="form-group ">
                    <md-input-container class="md-block">
                        <label style="color:black">Password</label>
                        <md-icon class="md-dark" arial-label="password" style="color:darkorange"><i class="fa fa-key" style="font-size: 20px;"></i></md-icon>
                        <input required type="password" name="password" ng-model="user.password" minlength="4" maxlength="20">
                        <div ng-messages="userLoginForm.password.$error" role="alert" class="ng-messages">
                            <div ng-message="required">* Password is required.</div>
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Valid Range: 4 to 20 characters.
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div class="row">
                    <div class="col-md-8" style="width:48%">
                        <a href="#" style="font-size: 12px;line-height: 50px;" ng-click="forgotPassword()" id="forgotPassword">Forgot Password</a>
                    </div>
                    <div class="col-md-4" style="float:right;">
                        <button class="btn btn-primary" ng-click="passwordVerification()" type="submit">Sign in</button>
                        <button class="btn btn-primary" ng-click="closePopUp()" type="button">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>