<style>
    .anchorhover:hover {
        color: deepskyblue !important;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Work Progress</h3>
    </div>
    <div class="row" style="margin-top:20px;margin-left: 0px;">
        <div class="col-lg-3">
            <md-input-container class="md-block">
                <label>Project</label>
                <md-select name="project_id" ng-model="project" ng-disabled="!projectslists.length" required  ng-change="GetAllJunctions(project)">
                    <md-option ng-repeat="project in projectslists" ng-value="project.id">
                        {{project.project_name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <div class="panel-body" ng-show="showdiv">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search" ng-model="filterprojects">
                </div>
            </div>
        </form>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr style="background:#e3e3e3;color:white;">
                    <th colspan="1"></th>
                    <th style="padding: 0px 0px 0px 0px; margin: -7px 0px 0px 0px; width:11% ;" background:#808080;color:white;">
                        <select ng-model="search.ps_name" class="form-control" ng-options="junc.ps_name as junc.ps_name  for junc in JunctionsList|unique:'ps_name'|filter:{project_id:project}:true" style="font-size: 12px;height: 25px;padding: 4px 12px !important;">
                            <option value="">All</option>
                        </select>
                    </th>
                    <th style="padding: 0px 0px 0px 0px; margin: -7px 0px 0px 0px; width:11% ;" background:#808080;color:white;">
                        <select ng-model="search.junction_name" class="form-control" ng-options="junc.junction_name as junc.junction_name for junc in JunctionsList|filter:{ps_name:search.ps_name}:true" style="font-size: 12px;height: 25px;padding: 4px 12px !important;">
                            <option value=''>All</option>
                        </select>
                    </th>
                    <th></th>
                </tr>
                <tr style="background:#808080;color:white;">
                    <th style="width:2%;text-align:center;vertical-align:middle;"></th> 
                    <th style="width:25%;text-align:center;vertical-align:middle;">
                        <a href="#" class="anchorhover" ng-click="sortType = 'ps_name'; sortReverse = !sortReverse" style="color:cornsilk;">
                            Police Station
                        </a>
                    </th>
                    <th style="width:25%;text-align:center;vertical-align:middle;">
                        <a href="#" class="anchorhover" ng-click="sortType = 'junction_name'; sortReverse = !sortReverse" style="color:cornsilk;">
                            Junction
                        </a>
                    </th>
                    <th style="width:25%;text-align:center;vertical-align:middle;">SubContractor</th>
                </tr>
            </thead>
            <tr dir-paginate-start="jn in JunctionsList|filter:filterprojects|itemsPerPage:5| orderBy:sortType:sortReverse
                |filter:{project_id:project}:true
                |filter:{ps_name: search.ps_name || undefined,
                junction_name: search.junction_name || undefined,}:true " pagination-id="workprgs">
                <td style="width:3%; vertical-align:middle;text-align:center;">
                    <button ng-click="showDetails(jn)" expand> 
                        <i ng-hide="active==jn" class="fa fa-plus"></i>
                        <i ng-show="active==jn" class="fa fa-minus"></i>
                    </button>
                </td>
                <td style="width:2%;text-align:center;vertical-align:middle;">{{$index+1}}</td>
                <td style="width:25%;text-align:center;vertical-align:middle;">{{jn.ps_name}}</td>
                <td style="width:25%;text-align:center;line-height: 26px;vertical-align:middle;">{{jn.junction_name}}<span class="badgeTwo">{{(WorkprogressList|filter:{junction_id:jn.j_id}:true).length}}</span></td>
                <td style="width:25%;text-align:center;vertical-align:middle;">{{getscname(jn.j_id)||'not assigned'}}</td>
            </tr>
            <tr dir-paginate-end="" ng-show="active==jn">
                <td colspan="5">
                    <table style="margin-left: 3%; width: 97%;" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr style="background:teal;color:white;"> 
                                <th style="width:15%;text-align:center;vertical-align:middle;">Component</th>
                                <th style="width:15%;text-align:center;vertical-align:middle;">Total</th>
                                <th style="width:15%;text-align:center;vertical-align:middle;">Completed</th>
                                <th style="width:15%;text-align:center;vertical-align:middle;">Pending</th>
                                <th style="width:2%;text-align:center;vertical-align:middle;">Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="workprogress in WorkprogressList|filter:{junction_id:jn.j_id}:true">
                                <!--<td style="width:2%;text-align:center;vertical-align:middle;">{{$index+1}}</td>-->
                                <td style="width:15%;text-align:center;vertical-align:middle;">{{workprogress.junction_component}}&nbsp;({{workprogress.uom}})</td>
                                <td style="width:15%;text-align:center;vertical-align:middle;">{{workprogress.total}}</td>
                                <td style="width:15%;text-align:center;vertical-align:middle;"><a href="#" ng-click="WorkprogressHistory(workprogress)">{{workprogress.completed}}</a></td>
                                <td style="width:15%;text-align:center;vertical-align:middle;">{{workprogress.pending}}</td>
                                <td style="width:2%;text-align:center;vertical-align:middle;">
                                    <i class="fa fa-pencil-square-o" style="font-size: 15px;" ng-hide="workprogress.total == workprogress.completed" aria-hidden="true" ng-click="UpdateWorkprogress(workprogress)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <div class="row" ng-show="JunctionsList.length>5">
            <div class="col-lg-4">
                <dir-pagination-controls max-size="5" pagination-id="workprgs" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
               <!-- <select name="level" ng-model="page.levels" ng-options="obj.value as obj.label for obj in page.levelsArr" style="position: absolute;top: 20px;height: 34px;"></select>-->
            </div>
        </div>
    </div>
</div>